 #journalist {
  padding-top:50px;
}

#program {
 padding-top:50px;
}

#project {
 padding-top:50px;
}

#writer {
 padding-top:50px;
}

#developer {
 padding-top:50px;
}

#trainer {
 padding-top:50px;
}

#about {
 padding-top:50px;
}



.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    margin:0 auto;
}



.contact-btn {
  float: right;
}


h2 {
    color: #d5dbdb;
    text-align: center
}



p {
    line-height: 2;
 font-family: Arial;
}
