header {
    background-color: #E6E6E6;
}

.main {
    margin: 5%;
}

header h1 {
    color: #2E2E2E;
}

header a {
  padding: 20px;
}

header nav {
  justify-content: flex-end;
}

header nav .button {
    color: red;
}

header .row {
  display: flex;
  align-items: center;
}

.gallery {
   margin: 5%;
    justify-content: space-between;
}

h2 {
    color: #d5dbdb;
}

.gallery h5 {
    color: #d5dbdb;
}


p {
    line-height: 1.5;
}
