header h1 {
color: red;
}

header a {
  padding: 20px
}

header nav {
  justify-content: flex-end;
}

header .row {
  display: flex;
  align-items: center
}

.container {
  color: #d5dbdb;
}

p {
  padding: 20px;
}
